<div class="main_wrapper_idiots" *ngIf="idiot">
  <app-language-changer></app-language-changer>

  <h1>{{ 'idiots.show.title' | translate }}</h1>
  <div class="name">
    <h2>{{ idiot.name }}</h2>
    <div>
      <img [routerLink]="'/idiots/' + idiot.id + '/edit/'" src="/assets/edit.png" alt="edit">
      <img [routerLink]="'/idiots/' + idiot.id + '/delete/'" src="/assets/delete.png" alt="edit">
    </div>
  </div>
  

  <p><span>{{ 'idiots.attributes.rStarId' | translate }}:</span> {{ idiot.rStarId }}</p>
  <p><span>{{ 'idiots.attributes.deathDate' | translate }}:</span> {{ idiot.deathDateFormatted }}</p>
  <p><span>{{ 'idiots.attributes.pazientDiagnos' | translate }}:</span> {{ idiot.pazientDiagnos }}</p>
  <p><span>{{ 'idiots.attributes.comment' | translate }}:</span> {{ idiot.comment }}</p>
  <p><span>{{ 'idiots.attributes.aggressive' | translate }}:</span> {{ (idiot.aggressive ? 'idiots.common.yes' : 'idiots.common.no') | translate }}</p>
  <p><span>{{ 'idiots.attributes.momJoke' | translate }}:</span> {{ 'idiots.attributes.momJokeVariants.' + idiot.momJoke | translate }}</p>
  <br>
  <p><a routerLink="/idiots">{{ 'idiots.show.backToList' | translate }}</a></p>
</div>
