.wrapper
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 100%
  max-width: 450px
  margin-bottom: 40px
  margin-top: 20px
  .language
    img
      width: 64px
      cursor: pointer
