<form *ngIf="idiot && idiotForm" [formGroup]="idiotForm" (ngSubmit)="save()">
  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.name' | translate }}</div>
      <input type="text" formControlName="name">
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.rStarId' | translate }}</div>
      <input type="text" formControlName="rStarId">
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.deathDate' | translate }}</div>
      <input type="date" formControlName="deathDate">
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.pazientDiagnos' | translate }}</div>
      <textarea formControlName="pazientDiagnos"></textarea>
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.comment' | translate }}</div>
      <textarea formControlName="comment"></textarea>
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.aggressive' | translate }}</div>
      <input type="checkbox" formControlName="aggressive">
    </label>
  </div>

  <div class="input">
    <label>
      <div>{{ 'idiots.attributes.momJoke' | translate }}</div>
      <select formControlName="momJoke">
        <option value="none">{{ 'idiots.attributes.momJokeVariants.none' | translate }}</option>
        <option value="seldom">{{ 'idiots.attributes.momJokeVariants.seldom' | translate }}</option>
        <option value="medium">{{ 'idiots.attributes.momJokeVariants.medium' | translate }}</option>
        <option value="often">{{ 'idiots.attributes.momJokeVariants.often' | translate }}</option>
      </select>
    </label>
  </div>

  <div class="buttons">
    <button type="submit" class="green">{{ 'idiots.form.save' | translate }}</button>
    <button (click)="close()">{{ 'idiots.form.cancel' | translate }}</button>
  </div>
</form>
