.main_wrapper_idiots
  font-family: 'Roboto'
  font-weight: 300
  .table
    .row
      display: flex
      max-width: 500px
      .name
        cursor: pointer
      div
        padding: 5px 0px
        flex: 1

.regular
  &:hover
    background-color: rgb(240, 240, 240)

.header
  font-weight: bold
