<div class="main_wrapper_idiots">
  <app-language-changer></app-language-changer>

  <h1>{{ 'idiots.index.title' | translate }}</h1>

  <div routerLink="/idiots/new" class="new">
    <img src="/assets/new.png" alt="new">
    <div>{{ 'idiots.index.new' | translate }}</div>
  </div>
  
  <div class="table">
    <div class="row header">
      <div>{{ 'idiots.index.table.nameHeader' | translate }}</div>
      <div>{{ 'idiots.index.table.rStarIdHeader' | translate }}</div>
    </div>

    <div class="row regular" *ngFor="let idiot of idiots" >
      <div [routerLink]="'/idiots/' + idiot.id " class="name">{{ idiot.name }}</div>
      <div>{{ idiot.rStarId }}</div>
    </div>
  </div>

  <app-paginator></app-paginator>
</div>
